openapi: 3.1.0
info:
  title: Signal Force API
  version: 0.1.1
  license:
    name: Private - Marriott Codefest 2026 demo
    identifier: LicenseRef-private
  description: >
    Fraud-aware loyalty platform demo. L1 deterministic rules with L2 LLM
    router on gray-zone decisions.

    Auth model is two-layered:

    * `POST /auth/login`, `POST /auth/mfa/verify`, `POST /auth/mfa/recover`,
      and the `/admin/*` routes use **Basic Auth** at the client-id level
      (demoClient / demoSecret for the demo stack). Admin routes additionally
      require the Basic Auth subject to be in `ADMIN_USERNAMES`.
    * All customer routes plus `POST /auth/logout`, `GET /auth/session`, and
      the MFA enroll/confirm pair use a per-user **Bearer token** issued at
      login. Token expires `SESSION_TTL_SEC` seconds after the last
      authenticated call (sliding window, default 1800s).

    `GET /health` is unauthenticated.

servers:
  - url: https://signal.glinr.com/api
    description: Production deploy
  - url: http://localhost:3000
    description: Local dev

security:
  - basicAuth: []

components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: >
        Client-id check. Credentials: demoClient / demoSecret for the demo
        stack. Used by /auth/login, /auth/mfa/verify, /auth/mfa/recover, and
        all /admin/* routes. Admin routes additionally require the subject
        to be in the ADMIN_USERNAMES env var.
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: opaque
      description: >
        Per-user opaque access token (32 random bytes, base64url) issued by
        /auth/login (no-MFA path) or /auth/mfa/verify (MFA path). The token
        is also the UserSession row's sessionId, so revocation is a single
        DeleteItem. Required by all customer endpoints, /auth/logout,
        /auth/session, and /auth/mfa/enroll, /auth/mfa/confirm-enroll.

  parameters:
    UserId:
      name: userId
      in: query
      required: true
      description: User identifier (URL-encode the # character as %23, e.g. USER%23001).
      schema:
        type: string
        example: USER%23001

    Window:
      name: window
      in: query
      required: false
      description: Time window for filtering decisions or metrics.
      schema:
        type: string
        enum: ['1h', '24h', '7d']
        default: '24h'

  schemas:
    # ------------------------------------------------------------------
    # Shared envelope
    # ------------------------------------------------------------------
    Error:
      type: object
      required: [correlationId, error]
      properties:
        correlationId:
          type: string
          description: >
            Echo of the X-Correlation-Id request header. Empty string when
            the header was absent.
          example: 'req-abc123'
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
              description: Machine-readable error code.
              example: VALIDATION_ERROR
            message:
              type: string
              description: Human-readable detail.
              example: 'Missing required field: username'

    # ------------------------------------------------------------------
    # Decision
    # ------------------------------------------------------------------
    EngineLayer:
      type: string
      enum: ['L1', 'L1+L2']
      description: >
        L1 - fast rule-based heuristic only.
        L1+L2 - L1 raised a gray-zone score (40-70) so the event was escalated
        to the L2 LLM router for a second assessment.

    DecisionType:
      type: string
      enum:
        - FRAUD_LOGIN
        - FRAUD_TRANSFER
        - ENGAGEMENT
        - NUDGE
        - OFFER
        - MFA_VERIFY
        - DECISION_RELEASE
        - PROFILE_COMPLETENESS
      description: >
        Category of the decision record. FRAUD_LOGIN and FRAUD_TRANSFER are
        written by the fraud engine and may carry an aiExplanation field.
        ENGAGEMENT is written by the engagement event handler. NUDGE and OFFER
        are written when the surface evaluator or engagement engine surfaces a
        card. MFA_VERIFY is written when a transfer step-up MFA completes.
        DECISION_RELEASE is written by the admin release action.

    DecisionAction:
      type: string
      enum: ['ALLOW', 'BLOCK', 'MFA', 'REVIEW', 'OFFER', 'NUDGE', 'HOLD', 'RELEASE']
      description: Outcome written by the engine.

    RiskLevel:
      type: string
      enum: ['LOW', 'MEDIUM', 'HIGH']

    Decision:
      type: object
      description: >
        A single decision row from DecisionStore. Every request that passes
        through the fraud or engagement engine writes one of these.
      required:
        - decisionId
        - userId
        - decisionType
        - action
        - score
        - riskLevel
        - engineLayer
        - channel
        - correlationId
        - isFinalDecision
        - timestamp
        - modelVersion
      properties:
        decisionId:
          type: string
          description: Partition key. Format DEC#<epoch-ms> for normal rows, DEC#REL#<uuid> for release rows.
          example: 'DEC#1716211200000'
        userId:
          type: string
          example: 'USER#001'
        decisionType:
          $ref: '#/components/schemas/DecisionType'
        action:
          $ref: '#/components/schemas/DecisionAction'
        score:
          type: number
          format: double
          minimum: 0
          maximum: 100
          description: Risk or engagement score from the engine.
          example: 48
        riskLevel:
          $ref: '#/components/schemas/RiskLevel'
        reason:
          type: string
          description: Machine-readable reason code (reasonCode in the engine).
          example: GEO_VELOCITY
        explanation:
          type: string
          description: Human-readable explanation (reasonText in the engine).
          example: Rapid location change detected
        engineLayer:
          $ref: '#/components/schemas/EngineLayer'
        channel:
          type: string
          description: Decision channel (AUTH, EARN_REDEEM, OFFERS, PROFILE, ADMIN).
          example: AUTH
        correlationId:
          type: string
          example: 'req-abc123'
        isFinalDecision:
          type: boolean
          example: true
        timestamp:
          type: integer
          description: Unix epoch seconds when the decision was written.
          example: 1716211200
        modelVersion:
          type: string
          example: v1
        llmLatencyMs:
          type: number
          description: Round-trip time to the L2 LLM router in milliseconds. Present only when engineLayer is L1+L2.
          example: 320
        llmModel:
          type: string
          description: Model identifier returned by the LiteLLM proxy. Present only when engineLayer is L1+L2.
          example: gpt-4o-mini
        originalDecisionId:
          type: string
          description: Present on DECISION_RELEASE rows only - references the decision that was released.
          example: 'DEC#1716211100000'
        aiExplanation:
          type: object
          description: >
            LLM-generated fraud rationale. Present on FRAUD_LOGIN and
            FRAUD_TRANSFER decisions where action is BLOCK, REVIEW, or MFA
            and LiteLLM env vars are configured. The DecisionDrawer AI
            Analysis panel renders this. Absent when the LLM was not called
            or timed out.
          properties:
            paragraph:
              type: string
              maxLength: 1200
              description: 2-4 sentences in plain English for a fraud analyst or product manager.
              example: >
                The transfer of 7,500 points was flagged because the device fingerprint
                has not appeared on this account in over 30 days. Combined with the high
                transfer amount, this raised the risk score to 65.
            riskFactors:
              type: array
              items:
                type: string
                maxLength: 200
              maxItems: 6
              description: Specific signals that contributed to the decision.
              example:
                - 'Transfer amount 7,500 points exceeds 24h pattern'
                - 'Device fingerprint not seen in last 30 days'
            recommendation:
              type: string
              maxLength: 300
              description: One sentence telling the analyst what to do next.
              example: Require the member to complete MFA and verify the recipient before releasing.

    # ------------------------------------------------------------------
    # Surface evaluation
    # ------------------------------------------------------------------
    SurfaceNextAction:
      type: object
      properties:
        label:
          type: string
          description: Human-readable action label for the DemoPanel.
          example: Book 4 nights to reach Platinum
        target:
          type: string
          enum:
            - profileCompletion
            - tier
            - mfaEnrolled
            - flow.transfer
            - booking
          description: Which UserProfile or UserState field the action targets.
        delta:
          type: object
          description: Value to set on the target field.
          additionalProperties: true

    SurfaceEvaluation:
      type: object
      description: >
        Result for one surface from GET /customer/surface-eligibility.
        The six surface IDs are: PROPERTY_PRESTIGE_ADVANCE,
        RESULTS_PRESTIGE_ADVANCE, PROFILE_CATALYST_ELEVATE,
        MFA_ENROLLMENT_NUDGE, TRANSFER_ABANDON_OFFER,
        BOOKING_CONFIRMATION_OFFER.
      required: [surfaceId, state, reason, context]
      properties:
        surfaceId:
          type: string
          enum:
            - PROPERTY_PRESTIGE_ADVANCE
            - RESULTS_PRESTIGE_ADVANCE
            - PROFILE_CATALYST_ELEVATE
            - MFA_ENROLLMENT_NUDGE
            - TRANSFER_ABANDON_OFFER
            - BOOKING_CONFIRMATION_OFFER
          example: PROPERTY_PRESTIGE_ADVANCE
        state:
          type: string
          enum: [SHOWN, HIDDEN, PENDING, COMPLETED]
          description: >
            SHOWN - card is visible. HIDDEN - threshold not met or goal already
            achieved at top tier. PENDING - an in-progress action (e.g. profile
            edit underway). COMPLETED - goal reached in the last 60 s.
          example: SHOWN
        ruleId:
          type: string
          nullable: true
          description: The EngagementRules PK that triggered this surface, or null.
          example: 'RULE#TIER_GAP_NUDGE'
        reason:
          type: string
          description: Human-readable explanation of why the state was set.
          example: Within 2000 pts of Platinum
        context:
          type: object
          description: Raw context values used by the evaluator (varies by surface).
          additionalProperties: true
          example:
            pointsToNextTier: 2000
            currentTier: Gold
            nextTier: Platinum
        copy:
          type: object
          nullable: true
          description: Headline and body copy to render. Null when state is not SHOWN.
          properties:
            headline:
              type: string
              example: Prestige Advance Benefit
            body:
              type: string
              example: You are only 2,000 points away from Platinum. Book 4 nights to get double points.
        nextAction:
          type: object
          nullable: true
          description: Action the DemoPanel can fire to flip this surface to a new state.
          allOf:
            - $ref: '#/components/schemas/SurfaceNextAction'
        aiAction:
          type: string
          enum: [PROMOTE, KEEP, DEMOTE, HIDE, SWAP]
          description: >
            LLM verdict on whether to emphasize or suppress this surface.
            Only present when aiMode=on and the LLM responded successfully.
          example: PROMOTE
        aiPriority:
          type: integer
          minimum: 1
          maximum: 5
          description: >
            Rank among active surfaces (1 = show first, 5 = least relevant).
            Only present when aiMode=on and the LLM responded successfully.
          example: 1
        aiRationale:
          type: string
          maxLength: 300
          description: >
            1-2 sentences from the LLM explaining the ranking decision.
            Only present when aiMode=on and the LLM responded successfully.
          example: User is close to tier upgrade and recently visited property pages; high conversion likelihood.

    # ------------------------------------------------------------------
    # Profile
    # ------------------------------------------------------------------
    UserProfile:
      type: object
      description: >
        Safe projection of a UserProfile row. The passwordHash field is
        never included in API responses.
      required: [userId, username, tier, loyaltyScore, profileCompletion, emailVerified, phoneVerified]
      properties:
        userId:
          type: string
          example: 'USER#001'
        username:
          type: string
          example: user001
        tier:
          type: string
          description: Loyalty tier (e.g. SILVER, GOLD, PLATINUM, TITANIUM, AMBASSADOR).
          example: GOLD
        loyaltyScore:
          type: number
          description: Numeric engagement/loyalty score used by the offer engine.
          example: 720
        profileCompletion:
          type: number
          format: double
          minimum: 0
          maximum: 1
          description: Fraction of required profile fields completed (0.0 - 1.0).
          example: 0.75
        emailVerified:
          type: boolean
          example: true
        phoneVerified:
          type: boolean
          example: false

    ProfileCompleteness:
      type: object
      required: [userId, percent, missingFields, nudgeText]
      properties:
        userId:
          type: string
          example: 'USER#001'
        percent:
          type: integer
          minimum: 0
          maximum: 100
          description: Profile completeness as a whole-number percentage.
          example: 60
        missingFields:
          type: array
          items:
            type: string
          description: Attribute names that are absent or null on the profile row.
          example: ['phone', 'homeAddress', 'tier']
        nudgeText:
          type: string
          description: Suggested copy to display to the user as a nudge prompt.
          example: Add your phone number to unlock faster account recovery.

    # ------------------------------------------------------------------
    # Offers and nudges
    # ------------------------------------------------------------------
    Offer:
      type: object
      required: [offerId, title, reason, validUntil]
      properties:
        offerId:
          type: string
          example: 'OFF#001'
        title:
          type: string
          example: Free night award + 2000 points
        reason:
          type: string
          description: Machine-readable reason code for why this offer was surfaced.
          example: HIGH_ENGAGEMENT_SCORE
        validUntil:
          type: integer
          description: Unix epoch seconds when the offer expires.
          example: 1716218400

    Nudge:
      type: object
      required: [nudgeId, message, reason]
      properties:
        nudgeId:
          type: string
          example: 'NUDGE#PROFILE'
        message:
          type: string
          description: Copy to display to the user. May be LLM-generated (L2) or a static template (L1).
          example: Complete your profile now to speed up booking
        reason:
          type: string
          description: Machine-readable reason code.
          example: PROFILE_INCOMPLETE

    # ------------------------------------------------------------------
    # Dashboard
    # ------------------------------------------------------------------
    FraudStatus:
      type: object
      required: [isBlocked, transferCount1h, lastLoginLocation]
      properties:
        isBlocked:
          type: boolean
          description: True if the user's account is currently blocked by a fraud decision.
          example: false
        transferCount1h:
          type: integer
          description: Number of transfer events in the current rolling 1-hour window.
          example: 2
        lastLoginLocation:
          type: ['string', 'null']
          description: Location string from the most recent successful login, or null.
          example: New York

    ActivityItem:
      type: object
      properties:
        activityTime:
          type: integer
          description: Unix epoch seconds.
          example: 1716211200
        activityType:
          type: string
          description: >
            One of LOGIN, TRANSFER, OFFER_IMPRESSION, OFFER_CLICK, OFFER_BOOK,
            NUDGE_SHOWN, NUDGE_DISMISSED, NUDGE_COMPLETED.
          example: LOGIN
        channel:
          type: string
          example: AUTH
        amount:
          type: number
          description: Points amount for TRANSFER events; 0 for others.
          example: 500
        recipientId:
          type: string
          description: Recipient user ID for TRANSFER events; empty string for others.
          example: 'USER#002'
        searchQuery:
          type: string
          description: Reserved for future search activity tracking. Currently always empty.
          example: ''

    DashboardUser:
      type: object
      required: [userId, tier]
      properties:
        userId:
          type: string
          example: 'USER#001'
        tier:
          type: string
          example: GOLD

    # ------------------------------------------------------------------
    # Admin metrics
    # ------------------------------------------------------------------
    MetricsByType:
      type: object
      description: Decision counts keyed by decisionType.
      additionalProperties:
        type: integer
      example:
        FRAUD_LOGIN: 60
        FRAUD_TRANSFER: 40
        ENGAGEMENT_OFFER: 30
        NUDGE: 12

    MetricsByAction:
      type: object
      description: Decision counts keyed by action.
      additionalProperties:
        type: integer
      example:
        ALLOW: 120
        BLOCK: 7
        MFA: 10
        REVIEW: 5

    BudgetGuard:
      type: object
      description: >
        Snapshot from the budget guard that caps LLM spending during the demo.
        Fields reflect the guard's internal counters and are informational only.
      additionalProperties: true

    MetricsTotals:
      type: object
      required: [total, l1, l1plus_l2, by_type, by_action]
      properties:
        total:
          type: integer
          description: Total decisions in the selected window.
          example: 142
        l1:
          type: integer
          description: Decisions resolved by L1 rules only.
          example: 98
        l1plus_l2:
          type: integer
          description: Decisions that escalated to the L2 LLM router.
          example: 44
        by_type:
          $ref: '#/components/schemas/MetricsByType'
        by_action:
          $ref: '#/components/schemas/MetricsByAction'

    AdminMetrics:
      type: object
      required: [totals, costEstimateUsd, asOf]
      properties:
        totals:
          $ref: '#/components/schemas/MetricsTotals'
        costEstimateUsd:
          type: number
          format: double
          description: Estimated LiteLLM proxy spend for the window based on L1+L2 call count.
          example: 0.0264
        asOf:
          type: integer
          description: Unix epoch seconds when the snapshot was taken.
          example: 1716214800
        guard:
          $ref: '#/components/schemas/BudgetGuard'

    # ------------------------------------------------------------------
    # Engagement
    # ------------------------------------------------------------------
    EngagementSignal:
      type: string
      enum:
        - rage_click
        - dwell_no_action
        - abandoned_flow_step
        - repeated_query
        - points_balance_stare
      description: Behavioral signal emitted by the frontend autocapture hook.

    EngagementSurface:
      type: string
      enum:
        - nudge_banner
        - offer_modal
        - inline_help_tooltip
      nullable: true
      description: UI surface where the intervention should be rendered. Null when action is ALLOW.

    EngagementRuleDefinition:
      type: object
      description: >
        json-rules-engine rule body. `conditions` follows the library's condition
        grammar (all/any arrays of fact+operator+value predicates). `event.params`
        carries the action, surface, and score that the engagement route uses when
        the rule fires.
      required: [conditions, event]
      properties:
        conditions:
          type: object
          description: >
            Top-level condition group. Must contain `all`, `any`, or both.
            Fact names map to flattened event params (e.g. `dwellMs`, `clickCount`).
          example:
            all:
              - fact: dwellMs
                operator: greaterThanInclusive
                value: 8000
        event:
          type: object
          required: [params]
          properties:
            params:
              type: object
              required: [action, surface, score]
              properties:
                action:
                  type: string
                  enum: [ALLOW, NUDGE, OFFER, HINT]
                surface:
                  $ref: '#/components/schemas/EngagementSurface'
                score:
                  type: integer
                  minimum: 0
                  maximum: 100
                  description: Engagement score this rule contributes when it fires.

    EngagementRule:
      type: object
      required: [ruleId, version, name, status, definition]
      properties:
        ruleId:
          type: string
          description: Partition key. Auto-generated (RULE#<uuid-prefix>) on create.
          example: 'RULE#a1b2c3d4'
        version:
          type: string
          description: >
            Sort key. Always 'latest' for the current live row.
            ISO-8601 timestamp string for immutable history entries.
          example: 'latest'
        name:
          type: string
          description: Human-readable rule name shown in the admin UI.
          example: 'Points balance stare - 8s offer'
        status:
          type: string
          enum: [ACTIVE, DRAFT, ARCHIVED]
          description: >
            Only ACTIVE rules are evaluated per event. DRAFT rules are visible
            in the admin UI but do not fire. ARCHIVED rules are hidden by default.
        definition:
          $ref: '#/components/schemas/EngagementRuleDefinition'
        createdAt:
          type: integer
          description: Unix epoch seconds when the rule was first written.
          example: 1716211200
        updatedAt:
          type: integer
          description: Unix epoch seconds of the most recent write.
          example: 1716214800

    EngagementRuleDraft:
      type: object
      description: >
        Shape returned by POST /admin/rules/ai-suggest. The admin UI lets
        an operator edit any field before persisting via POST /admin/rules.
      required: [name, conditions, event, explanation]
      properties:
        name:
          type: string
          maxLength: 80
        conditions:
          type: object
          required: [all]
          properties:
            all:
              type: array
              items:
                type: object
                required: [fact, operator, value]
                properties:
                  fact:
                    type: string
                  operator:
                    type: string
                    enum:
                      - equal
                      - notEqual
                      - greaterThan
                      - greaterThanInclusive
                      - lessThan
                      - lessThanInclusive
                      - in
                      - contains
                  value:
                    oneOf:
                      - type: string
                      - type: number
                      - type: boolean
        event:
          type: object
          required: [type, params]
          properties:
            type:
              type: string
            params:
              type: object
              required: [action, surface, score, copy]
              properties:
                action:
                  type: string
                  enum: [ALLOW, NUDGE, OFFER, HINT, BLOCK, REVIEW, MFA]
                surface:
                  type: string
                  enum: [nudge_banner, offer_modal, help_tooltip, inline_help_tooltip, none]
                score:
                  type: number
                  minimum: 0
                  maximum: 100
                copy:
                  type: string
                  maxLength: 200
        explanation:
          type: string
          maxLength: 300
          description: One-sentence rationale for the rule, generated by the AI.

# ==============================================================================
# Paths
# ==============================================================================

paths:

  # ----------------------------------------------------------------------------
  # Auth
  # ----------------------------------------------------------------------------

  /auth/login:
    post:
      operationId: login
      summary: Customer login with fraud scoring
      description: >
        Validates username and password against UserProfile, runs L1 login-risk
        scoring (and optionally L2 LLM escalation), then returns a session token.

        Possible outcomes:
        - SUCCESS - login allowed; sessionId returned.
        - MFA_REQUIRED - score in gray zone or other trigger; client must call
          POST /auth/mfa/verify with the sessionId.
        - 403 ACCOUNT_BLOCKED - L1 or L2 determined the login is high-risk, or
          the user's account was already blocked by a prior decision.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username, password, location, deviceId]
              properties:
                username:
                  type: string
                  example: user001
                password:
                  type: string
                  format: password
                  example: Password1
                location:
                  type: string
                  description: Human-readable location string (city, country).
                  example: New York
                deviceId:
                  type: string
                  description: Opaque device fingerprint, stable per device.
                  example: device-abc
                ipAddress:
                  type: string
                  description: Client IP address. Optional; recorded in activity log.
                  example: '203.0.113.42'
                deviceType:
                  type: string
                  description: Device category (e.g. mobile, desktop). Optional.
                  example: mobile
                browser:
                  type: string
                  description: Browser identifier. Optional.
                  example: Chrome/124
      responses:
        '200':
          description: >
            Login processed. Inspect data.status for the outcome.
            status=SUCCESS means the user is authenticated.
            status=MFA_REQUIRED means an OTP challenge is needed.
          content:
            application/json:
              schema:
                type: object
                required: [correlationId, data]
                properties:
                  correlationId:
                    type: string
                  data:
                    oneOf:
                      - title: Success
                        type: object
                        required: [status, userId, sessionId, token, expiresAt]
                        properties:
                          status:
                            type: string
                            enum: [SUCCESS]
                          userId:
                            type: string
                            example: 'USER#001'
                          sessionId:
                            type: string
                            example: 'SESSION#a1b2c3d4'
                          token:
                            type: string
                            description: >
                              Opaque bearer access token (base64url). Pass as
                              `Authorization: Bearer <token>` on all
                              subsequent customer endpoint calls.
                            example: 'k7sH2Wq...redacted...vNc'
                          expiresAt:
                            type: integer
                            description: Unix seconds at which the token expires (sliding window).
                            example: 1747840000
                      - title: MFA required
                        type: object
                        required: [status, reason, sessionId, mfa]
                        properties:
                          status:
                            type: string
                            enum: [MFA_REQUIRED]
                          reason:
                            type: string
                            description: Machine-readable reason code from the engine.
                            example: GEO_VELOCITY
                          sessionId:
                            type: string
                            example: 'SESSION#a1b2c3d4'
                          mfa:
                            type: object
                            required: [type, expiresInSeconds]
                            properties:
                              type:
                                type: string
                                enum: [OTP]
                              expiresInSeconds:
                                type: integer
                                example: 300
        '400':
          description: Validation error - required field missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Invalid username or password.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                correlationId: ''
                error:
                  code: INVALID_CREDENTIALS
                  message: Invalid username/password
        '403':
          description: Account is blocked by a prior fraud decision.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                correlationId: ''
                error:
                  code: ACCOUNT_BLOCKED
                  message: Access denied. Account temporarily blocked.
        '500':
          description: Unexpected server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/mfa/verify:
    post:
      operationId: mfaVerify
      summary: Verify OTP to complete MFA-gated login
      description: >
        Validates a TOTP code generated from the user's enrolled mfaSecret. If
        MFA_MODE=static is set on the Lambda, the static demo OTP (default
        123456) is also accepted as a fallback for the judges-no-phone case.

        On success a bearer access token is issued and returned alongside an
        mfaPath field indicating which path accepted ('TOTP' or 'STATIC').
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [sessionId, otp]
              properties:
                sessionId:
                  type: string
                  description: Value returned by POST /auth/login.
                  example: 'SESSION#a1b2c3d4'
                otp:
                  type: string
                  description: 6-digit TOTP code (or the static fallback when MFA_MODE=static).
                  example: '492013'
      responses:
        '200':
          description: OTP accepted; login complete and a bearer token is issued.
          content:
            application/json:
              schema:
                type: object
                required: [correlationId, data]
                properties:
                  correlationId:
                    type: string
                  data:
                    type: object
                    required: [status, message, mfaPath, token, expiresAt]
                    properties:
                      status:
                        type: string
                        enum: [SUCCESS]
                      message:
                        type: string
                        example: MFA verified
                      mfaPath:
                        type: string
                        enum: [TOTP, STATIC]
                        description: Which validation path accepted the code.
                      token:
                        type: string
                        description: Opaque bearer token for subsequent calls.
                      expiresAt:
                        type: integer
                        description: Unix seconds at which the token expires.
        '400':
          description: Validation error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: OTP invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                correlationId: ''
                error:
                  code: OTP_INVALID
                  message: OTP invalid
        '404':
          description: Session not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                correlationId: ''
                error:
                  code: SESSION_NOT_FOUND
                  message: Session not found
        '500':
          description: Unexpected server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/mfa/enroll:
    post:
      operationId: mfaEnroll
      summary: Begin TOTP MFA enrollment for the current user
      description: >
        Generates a base32 TOTP secret, a QR-encoded otpauth URL, and 10
        single-use recovery codes. The secret is parked as pendingMfaSecret
        until /auth/mfa/confirm-enroll succeeds, so a half-complete
        enrollment cannot lock the user out. Recovery codes are returned
        ONCE and never again; the client must surface them to the user.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Enrollment started. Display the QR code to the user.
          content:
            application/json:
              schema:
                type: object
                required: [correlationId, data]
                properties:
                  correlationId:
                    type: string
                  data:
                    type: object
                    required: [otpauthUrl, qrCodePngBase64, recoveryCodes, issuer, username]
                    properties:
                      otpauthUrl:
                        type: string
                        example: 'otpauth://totp/SignalForce:user001?secret=JBSWY3DPEHPK3PXP&issuer=SignalForce'
                      qrCodePngBase64:
                        type: string
                        description: >
                          PNG QR code as base64 (no `data:` prefix). Render via
                          `<img src="data:image/png;base64,...">`.
                      recoveryCodes:
                        type: array
                        items:
                          type: string
                        minItems: 10
                        maxItems: 10
                      issuer:
                        type: string
                        example: SignalForce
                      username:
                        type: string
                        example: user001
        '401':
          description: Missing or invalid bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/mfa/confirm-enroll:
    post:
      operationId: mfaConfirmEnroll
      summary: Promote pending MFA secret to active on a verified TOTP code
      description: >
        The client sends a TOTP code generated from the pending secret. On
        success the server promotes pendingMfaSecret to mfaSecret and sets
        mfaEnabled=true. On failure the pending state stays in place so the
        user can retry.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code:
                  type: string
                  description: 6-digit TOTP code generated from the pending secret.
                  example: '492013'
      responses:
        '200':
          description: MFA enrollment confirmed.
          content:
            application/json:
              schema:
                type: object
                required: [correlationId, data]
                properties:
                  correlationId:
                    type: string
                  data:
                    type: object
                    required: [status]
                    properties:
                      status:
                        type: string
                        enum: [ENROLLED]
        '400':
          description: No pending enrollment for this user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                correlationId: ''
                error:
                  code: NO_PENDING_ENROLLMENT
                  message: No pending MFA enrollment for this user
        '401':
          description: Bearer missing, or confirmation code rejected.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/mfa/recover:
    post:
      operationId: mfaRecover
      summary: Consume a single-use recovery code to reset MFA
      description: >
        Authenticated by username + password (not bearer), since the user
        has lost access to their second factor. On success the consumed
        recovery code is removed from the stored set, mfaSecret is cleared,
        and a fresh bearer is issued so the user can re-enroll.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username, password, code]
              properties:
                username:
                  type: string
                password:
                  type: string
                  format: password
                code:
                  type: string
                  description: One of the recovery codes from a prior enroll. Case-insensitive.
      responses:
        '200':
          description: Recovery code accepted, MFA disabled, token issued.
          content:
            application/json:
              schema:
                type: object
                required: [correlationId, data]
                properties:
                  correlationId:
                    type: string
                  data:
                    type: object
                    required: [status, token, expiresAt, recoveryCodesRemaining, message]
                    properties:
                      status:
                        type: string
                        enum: [RECOVERED]
                      token:
                        type: string
                      expiresAt:
                        type: integer
                      recoveryCodesRemaining:
                        type: integer
                      message:
                        type: string
        '401':
          description: Invalid credentials or invalid recovery code.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/logout:
    post:
      operationId: logout
      summary: Revoke the current bearer token
      description: >
        Deletes the UserSession row keyed by the bearer. Idempotent:
        returns 204 whether the row existed or not, so a double-click on
        logout in the UI is harmless. A subsequent call with the same
        token returns 401 INVALID_TOKEN.
      security:
        - bearerAuth: []
      responses:
        '204':
          description: Session revoked (or already gone).
        '401':
          description: Bearer missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/session:
    get:
      operationId: sessionInfo
      summary: Return metadata about the current bearer session
      description: >
        Used by the FE to render the "session expires in 12m" indicator.
        Calling this slides the expiry forward via validateBearer, so just
        polling /auth/session keeps the session alive.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Current session metadata.
          content:
            application/json:
              schema:
                type: object
                required: [correlationId, data]
                properties:
                  correlationId:
                    type: string
                  data:
                    type: object
                    required: [userId, issuedAt, expiresAt, lastActivityAt, mfaVerified]
                    properties:
                      userId:
                        type: string
                      issuedAt:
                        type: integer
                      expiresAt:
                        type: integer
                      lastActivityAt:
                        type: integer
                      mfaVerified:
                        type: boolean
        '401':
          description: Bearer missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ----------------------------------------------------------------------------
  # Transactions
  # ----------------------------------------------------------------------------

  /transactions/transfer:
    post:
      operationId: transfer
      summary: Transfer loyalty points between users
      description: >
        Deducts points from the sender and credits the recipient. Runs L1
        transfer-velocity scoring (transferCount1h threshold) and optionally
        escalates to L2. Returns UNDER_REVIEW when the score is in the gray
        zone, or 403 when the action is BLOCK.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [userId, recipientId, amount]
              properties:
                userId:
                  type: string
                  description: Sender user ID.
                  example: 'USER#001'
                recipientId:
                  type: string
                  description: Recipient user ID.
                  example: 'USER#002'
                amount:
                  type: number
                  description: Points to transfer. Must be a positive finite number.
                  example: 500
                channel:
                  type: string
                  description: Originating channel. Defaults to APP.
                  example: APP
      responses:
        '200':
          description: Transfer processed. Inspect data.status for the outcome.
          content:
            application/json:
              schema:
                type: object
                required: [correlationId, data]
                properties:
                  correlationId:
                    type: string
                  data:
                    oneOf:
                      - title: Success
                        type: object
                        required: [status, transferId, message]
                        properties:
                          status:
                            type: string
                            enum: [SUCCESS]
                          transferId:
                            type: string
                            example: 'XFER#a1b2c3d4'
                          message:
                            type: string
                            example: Transfer completed
                      - title: Under review
                        type: object
                        required: [status, transferId, reason]
                        properties:
                          status:
                            type: string
                            enum: [UNDER_REVIEW]
                          transferId:
                            type: string
                            example: 'XFER#a1b2c3d4'
                          reason:
                            type: string
                            example: SUSPICIOUS_TRANSFER_PATTERN
        '400':
          description: Validation error - missing or invalid field.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Transfer blocked (sender blocked or high-risk transfer).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                correlationId: ''
                error:
                  code: TRANSFER_BLOCKED
                  message: Transfer blocked due to high fraud risk
        '404':
          description: Sender or recipient not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Unexpected server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ----------------------------------------------------------------------------
  # User
  # ----------------------------------------------------------------------------

  /user/profile:
    get:
      operationId: getProfile
      summary: Fetch loyalty profile for a user
      description: >
        Returns a safe projection of the UserProfile row. The passwordHash field
        is never included.
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          description: Profile found.
          content:
            application/json:
              schema:
                type: object
                required: [correlationId, data]
                properties:
                  correlationId:
                    type: string
                  data:
                    $ref: '#/components/schemas/UserProfile'
        '400':
          description: Missing userId query parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid gateway Basic Auth.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: User not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Unexpected server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /user/profile-completeness:
    get:
      operationId: getProfileCompleteness
      summary: Profile completeness score with personalized nudge text
      description: >
        Returns the percentage of required profile fields completed, a list of
        missing field names, and a suggested nudge message. The nudge message
        may be LLM-generated when the engine routes the request to L2.

        A PROFILE_COMPLETENESS decision row is written on every call so the
        admin metrics endpoint can track this call type.
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          description: Completeness data returned.
          content:
            application/json:
              schema:
                type: object
                required: [correlationId, data]
                properties:
                  correlationId:
                    type: string
                  data:
                    $ref: '#/components/schemas/ProfileCompleteness'
        '400':
          description: Missing userId parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid gateway Basic Auth.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: User not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Unexpected server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ----------------------------------------------------------------------------
  # Offers
  # ----------------------------------------------------------------------------

  /offers:
    get:
      operationId: getOffers
      summary: Personalized offers for a user
      description: >
        Runs the offer-scoring engine (loyaltyScore and tier thresholds) and
        returns any active offers. Returns 204 with an empty offers array when
        no offer is surfaced (e.g. user is in a cooldown window or does not
        meet the score threshold).
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          description: One or more offers available.
          content:
            application/json:
              schema:
                type: object
                required: [correlationId, data]
                properties:
                  correlationId:
                    type: string
                  data:
                    type: object
                    required: [userId, offers]
                    properties:
                      userId:
                        type: string
                        example: 'USER#001'
                      offers:
                        type: array
                        items:
                          $ref: '#/components/schemas/Offer'
        '204':
          description: >
            No offers available for this user right now. The response body is
            present and contains an empty offers array (non-standard; follows
            the current handler implementation).
          content:
            application/json:
              schema:
                type: object
                required: [correlationId, data]
                properties:
                  correlationId:
                    type: string
                  data:
                    type: object
                    required: [userId, offers]
                    properties:
                      userId:
                        type: string
                      offers:
                        type: array
                        items: {}
                        maxItems: 0
        '400':
          description: Missing userId parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid gateway Basic Auth.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: User not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Unexpected server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /offers/action:
    post:
      operationId: offerAction
      summary: Track an offer interaction
      description: >
        Records an IMPRESSION, CLICK, or BOOK interaction for an offer and
        writes an activity row. No offer-availability check is performed; the
        offerId is trusted as provided.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [userId, offerId, action]
              properties:
                userId:
                  type: string
                  example: 'USER#001'
                offerId:
                  type: string
                  example: 'OFF#001'
                action:
                  type: string
                  enum: [IMPRESSION, CLICK, BOOK]
                  description: Interaction type.
      responses:
        '200':
          description: Interaction tracked.
          content:
            application/json:
              schema:
                type: object
                required: [correlationId, data]
                properties:
                  correlationId:
                    type: string
                  data:
                    type: object
                    required: [status]
                    properties:
                      status:
                        type: string
                        enum: [TRACKED]
        '400':
          description: Validation error - missing field or invalid action value.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid gateway Basic Auth.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: User not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Unexpected server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ----------------------------------------------------------------------------
  # Nudges
  # ----------------------------------------------------------------------------

  /nudges:
    get:
      operationId: getNudges
      summary: Active nudges for a user
      description: >
        Evaluates the user's profile completeness and verification status, runs
        the nudge-scoring engine, and returns any active nudge. Returns 204 with
        an empty nudges array when no nudge is warranted.

        The nudge message may be LLM-generated when the engine routes to L2.
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          description: One or more nudges active.
          content:
            application/json:
              schema:
                type: object
                required: [correlationId, data]
                properties:
                  correlationId:
                    type: string
                  data:
                    type: object
                    required: [userId, nudges]
                    properties:
                      userId:
                        type: string
                        example: 'USER#001'
                      nudges:
                        type: array
                        items:
                          $ref: '#/components/schemas/Nudge'
        '204':
          description: >
            No nudges for this user. The response body is present with an empty
            nudges array (follows the current handler implementation).
          content:
            application/json:
              schema:
                type: object
                required: [correlationId, data]
                properties:
                  correlationId:
                    type: string
                  data:
                    type: object
                    required: [userId, nudges]
                    properties:
                      userId:
                        type: string
                      nudges:
                        type: array
                        items: {}
                        maxItems: 0
        '400':
          description: Missing userId parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid gateway Basic Auth.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: User not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Unexpected server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /nudges/action:
    post:
      operationId: nudgeAction
      summary: Track a nudge interaction
      description: >
        Records a SHOWN, DISMISSED, or COMPLETED interaction for a nudge and
        writes an activity row.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [userId, nudgeId, action]
              properties:
                userId:
                  type: string
                  example: 'USER#001'
                nudgeId:
                  type: string
                  example: 'NUDGE#PROFILE'
                action:
                  type: string
                  enum: [SHOWN, DISMISSED, COMPLETED]
                  description: Interaction type.
      responses:
        '200':
          description: Interaction recorded.
          content:
            application/json:
              schema:
                type: object
                required: [correlationId, data]
                properties:
                  correlationId:
                    type: string
                  data:
                    type: object
                    required: [status]
                    properties:
                      status:
                        type: string
                        enum: [UPDATED]
        '400':
          description: Validation error - missing field or invalid action value.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid gateway Basic Auth.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: User not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Unexpected server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ----------------------------------------------------------------------------
  # Dashboard
  # ----------------------------------------------------------------------------

  /dashboard:
    get:
      operationId: dashboard
      summary: Aggregate customer dashboard
      description: >
        Returns the user's tier, current fraud status, any active offers and
        nudges, and up to 10 recent activity events. This is the primary
        composite endpoint for the frontend home screen.

        Offer and nudge eligibility is evaluated inline using the same
        thresholds as the dedicated /offers and /nudges endpoints.
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          description: Dashboard data returned.
          content:
            application/json:
              schema:
                type: object
                required: [correlationId, data]
                properties:
                  correlationId:
                    type: string
                  data:
                    type: object
                    required: [user, fraudStatus, offers, nudges, recentActivity]
                    properties:
                      user:
                        $ref: '#/components/schemas/DashboardUser'
                      fraudStatus:
                        $ref: '#/components/schemas/FraudStatus'
                      offers:
                        type: array
                        items:
                          $ref: '#/components/schemas/Offer'
                      nudges:
                        type: array
                        items:
                          $ref: '#/components/schemas/Nudge'
                      recentActivity:
                        type: array
                        maxItems: 10
                        items:
                          $ref: '#/components/schemas/ActivityItem'
        '400':
          description: Missing userId parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid gateway Basic Auth.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: User not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Unexpected server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ----------------------------------------------------------------------------
  # Admin - Decisions
  # ----------------------------------------------------------------------------

  /admin/decisions:
    get:
      operationId: adminGetDecisions
      summary: Decision feed sorted newest-first
      description: >
        Returns decision rows from DecisionStore within a time window, sorted
        descending by timestamp. Optionally filtered by decisionType and/or
        userId.

        When userId is provided the handler uses a DynamoDB Query (efficient).
        Without userId it performs a table Scan (acceptable for the demo scale).
      x-internal-only: true
      parameters:
        - $ref: '#/components/parameters/Window'
        - name: type
          in: query
          required: false
          description: >
            Filter by decisionType. Must be one of the valid enum values.
          schema:
            $ref: '#/components/schemas/DecisionType'
        - name: userId
          in: query
          required: false
          description: Filter to a single user.
          schema:
            type: string
            example: USER%23001
        - name: limit
          in: query
          required: false
          description: Max rows to return. Capped at 200. Defaults to 50.
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
      responses:
        '200':
          description: Decision list returned.
          content:
            application/json:
              schema:
                type: object
                required: [correlationId, data]
                properties:
                  correlationId:
                    type: string
                  data:
                    type: object
                    required: [decisions, count]
                    properties:
                      decisions:
                        type: array
                        items:
                          $ref: '#/components/schemas/Decision'
                      count:
                        type: integer
                        description: Number of rows returned (after limit is applied).
                        example: 10
        '400':
          description: Invalid window or type parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid gateway Basic Auth.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Basic Auth subject is not in ADMIN_USERNAMES.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                correlationId: ''
                error:
                  code: FORBIDDEN
                  message: Admin access required
        '500':
          description: Unexpected server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /admin/metrics:
    get:
      operationId: adminGetMetrics
      summary: Aggregate decision counts and LLM cost estimate
      description: >
        Returns tile counts for the admin dashboard: total decisions, L1-only
        vs L1+L2 split, breakdown by decisionType and action, estimated LiteLLM
        proxy cost, and a snapshot of the budget guard counters.
      x-internal-only: true
      parameters:
        - $ref: '#/components/parameters/Window'
      responses:
        '200':
          description: Metrics snapshot returned.
          content:
            application/json:
              schema:
                type: object
                required: [correlationId, data]
                properties:
                  correlationId:
                    type: string
                  data:
                    $ref: '#/components/schemas/AdminMetrics'
        '400':
          description: Invalid window parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid gateway Basic Auth.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Basic Auth subject is not in ADMIN_USERNAMES.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Unexpected server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ----------------------------------------------------------------------------
  # Admin - Release
  # ----------------------------------------------------------------------------

  /admin/decisions/{id}/release:
    post:
      operationId: adminReleaseDecision
      summary: Override a blocked decision and unblock the user
      description: >
        Looks up the original decision by decisionId, writes a DECISION_RELEASE
        row, and sets UserState.isBlocked to false for the affected user.

        The id path parameter is the full decisionId value (e.g. DEC#1716211200000).
        URL-encode the # as %23 in the path.
      x-internal-only: true
      parameters:
        - name: id
          in: path
          required: true
          description: >
            The decisionId of the HOLD or BLOCK decision to release.
            URL-encode # as %23 (e.g. DEC%231716211200000).
          schema:
            type: string
            example: DEC%231716211200000
      responses:
        '200':
          description: Decision released and user unblocked.
          content:
            application/json:
              schema:
                type: object
                required: [correlationId, data]
                properties:
                  correlationId:
                    type: string
                  data:
                    type: object
                    required: [released, originalDecisionId, releasedAt]
                    properties:
                      released:
                        type: boolean
                        example: true
                      originalDecisionId:
                        type: string
                        example: 'DEC#1716211200000'
                      releasedAt:
                        type: integer
                        description: Unix epoch seconds when the release was written.
                        example: 1716214800
        '400':
          description: Missing or invalid id path parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid gateway Basic Auth.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Basic Auth subject is not in ADMIN_USERNAMES.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Decision not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                correlationId: ''
                error:
                  code: NOT_FOUND
                  message: 'Decision not found: DEC#1716211200000'
        '500':
          description: Unexpected server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ----------------------------------------------------------------------------
  # Admin - Users
  # ----------------------------------------------------------------------------

  /admin/users:
    get:
      operationId: adminGetUsers
      summary: Paginated user list
      description: >
        Returns a page of UserProfile rows with passwordHash stripped. Use the
        nextCursor value from each response as the cursor parameter on the next
        call to advance through the list. When nextCursor is absent the list is
        exhausted.

        The cursor is a base64-encoded DynamoDB LastEvaluatedKey. Its internal
        structure is opaque and subject to change.
      x-internal-only: true
      parameters:
        - name: limit
          in: query
          required: false
          description: Page size. Capped at 100. Defaults to 50.
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: cursor
          in: query
          required: false
          description: >
            Pagination cursor from the nextCursor field of a previous response.
            Opaque base64-encoded string.
          schema:
            type: string
      responses:
        '200':
          description: User page returned.
          content:
            application/json:
              schema:
                type: object
                required: [correlationId, data]
                properties:
                  correlationId:
                    type: string
                  data:
                    type: object
                    required: [users, nextCursor]
                    properties:
                      users:
                        type: array
                        items:
                          $ref: '#/components/schemas/UserProfile'
                      nextCursor:
                        type: ['string', 'null']
                        description: >
                          Opaque cursor for the next page. Null when the list is
                          exhausted.
                        example: eyJ1c2VySWQiOiJVU0VSIzAxMCJ9
        '400':
          description: Invalid cursor value.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid gateway Basic Auth.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Basic Auth subject is not in ADMIN_USERNAMES.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Unexpected server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /admin/sessions:
    get:
      operationId: adminGetSessions
      summary: List active bearer-token sessions
      description: >
        Returns ACCESS rows from UserSession. The raw token value is stripped
        from the response so the admin UI never sees it; sessions are
        revoked by sessionId only. Most-recent first by issuedAt.
      parameters:
        - name: userId
          in: query
          required: false
          description: Filter to sessions belonging to this user.
          schema:
            type: string
        - name: active
          in: query
          required: false
          description: 'true to include only non-expired sessions, false for expired.'
          schema:
            type: string
            enum: ['true', 'false']
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 100
            maximum: 500
      responses:
        '200':
          description: Session list.
          content:
            application/json:
              schema:
                type: object
                required: [correlationId, data]
                properties:
                  correlationId:
                    type: string
                  data:
                    type: object
                    required: [sessions, count, totalMatched, filters]
                    properties:
                      sessions:
                        type: array
                        items:
                          type: object
                          required: [sessionId, userId, issuedAt, expiresAt, lastActivityAt, mfaVerified, active]
                          properties:
                            sessionId:
                              type: string
                            userId:
                              type: string
                            issuedAt:
                              type: integer
                            expiresAt:
                              type: integer
                            lastActivityAt:
                              type: integer
                            mfaVerified:
                              type: boolean
                            location:
                              type: string
                            ipAddress:
                              type: string
                            deviceId:
                              type: string
                            active:
                              type: boolean
                              description: expiresAt > now
                      count:
                        type: integer
                      totalMatched:
                        type: integer
                      filters:
                        type: object
        '400':
          description: Validation error (invalid `active` value).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Caller is not an admin.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /admin/sessions/{sessionId}/revoke:
    post:
      operationId: adminRevokeSession
      summary: Force-revoke a bearer session
      description: >
        Deletes the UserSession row keyed by sessionId. Idempotent 204
        regardless of whether the row existed. URL-decodes the path
        segment so legacy SESSION%23... ids resolve correctly.
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Session revoked (or already gone).
        '400':
          description: sessionId missing from path.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Caller is not an admin.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /admin/mfa-status:
    get:
      operationId: adminGetMfaStatus
      summary: MFA adoption counters across all users
      description: >
        Scans UserProfile and returns total / enrolled / pending /
        notEnrolled counts plus an enrolled percentage. Powers the
        "MFA adoption" tile on the admin dashboard.
      responses:
        '200':
          description: MFA adoption snapshot.
          content:
            application/json:
              schema:
                type: object
                required: [correlationId, data]
                properties:
                  correlationId:
                    type: string
                  data:
                    type: object
                    required: [total, enrolled, pending, notEnrolled, enrolledPercent]
                    properties:
                      total:
                        type: integer
                      enrolled:
                        type: integer
                      pending:
                        type: integer
                      notEnrolled:
                        type: integer
                      enrolledPercent:
                        type: number
                        description: enrolled / total * 100, rounded to one decimal.
        '403':
          description: Caller is not an admin.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /health:
    get:
      operationId: health
      summary: Unauthenticated health probe
      description: >
        Returns service version, the commit SHA the Lambda was deployed
        from, and a snapshot of the L2 LLM call-count breaker. No auth
        required.
      security: []
      responses:
        '200':
          description: Service is up.
          content:
            application/json:
              schema:
                type: object
                required: [status, version, commit, engineLayer, asOf]
                properties:
                  status:
                    type: string
                    enum: [ok]
                  version:
                    type: string
                  commit:
                    type: string
                  engineLayer:
                    type: object
                    required: [breakerOpen, callsInWindow, maxCalls]
                    properties:
                      breakerOpen:
                        type: boolean
                      callsInWindow:
                        type: integer
                      maxCalls:
                        type: integer
                  asOf:
                    type: integer

  # ----------------------------------------------------------------------------
  # Engagement
  # ----------------------------------------------------------------------------

  /engagement/event:
    post:
      operationId: trackEngagementEvent
      summary: Ingest a behavioral signal and evaluate engagement rules
      description: >
        Accepts one of the five signals from the frontend autocapture hook,
        runs the L1 scorer, evaluates active DDB rules, routes through the
        L1+L2 engine (LLM called only for grey-zone scores 40-70), writes a
        DecisionStore row with decisionType=ENGAGEMENT (skipped for ALLOW),
        and returns the surface, copy, and metadata.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [signal, userId, sessionId]
              properties:
                signal:
                  $ref: '#/components/schemas/EngagementSignal'
                userId:
                  type: string
                  example: 'USER#001'
                sessionId:
                  type: string
                  example: 'SESSION#a1b2c3d4'
                params:
                  type: object
                  additionalProperties: true
                  example:
                    dwellMs: 9000
                    pointsBalance: 12400
      responses:
        '200':
          description: Event evaluated.
          content:
            application/json:
              schema:
                type: object
                required: [correlationId, data]
                properties:
                  correlationId:
                    type: string
                  data:
                    type: object
                    required: [surface, copy, reasonCode, engineLayer, score, action]
                    properties:
                      surface:
                        $ref: '#/components/schemas/EngagementSurface'
                      copy:
                        type: string
                        example: 'Your 12,400 points can book two nights in Lisbon.'
                      reasonCode:
                        type: string
                        example: POINTS_STARE_HIGH
                      engineLayer:
                        $ref: '#/components/schemas/EngineLayer'
                      score:
                        type: integer
                        minimum: 0
                        maximum: 100
                        example: 82
                      action:
                        type: string
                        enum: [ALLOW, NUDGE, OFFER, HINT]
                      decisionId:
                        type: string
                        nullable: true
                        example: 'DEC#ENG#a1b2c3d4'
        '400':
          description: Validation error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Unexpected server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ----------------------------------------------------------------------------
  # Admin - Engagement Rules
  # ----------------------------------------------------------------------------

  /admin/rules:
    get:
      operationId: adminListRules
      summary: List engagement rules
      x-internal-only: true
      parameters:
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum: [ACTIVE, DRAFT, ARCHIVED]
      responses:
        '200':
          description: Rule list returned.
          content:
            application/json:
              schema:
                type: object
                required: [correlationId, data]
                properties:
                  correlationId:
                    type: string
                  data:
                    type: object
                    required: [rules, count]
                    properties:
                      rules:
                        type: array
                        items:
                          $ref: '#/components/schemas/EngagementRule'
                      count:
                        type: integer
        '400':
          description: Invalid status parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid gateway Basic Auth.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not an admin.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    post:
      operationId: adminCreateRule
      summary: Create a new engagement rule
      x-internal-only: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, status, definition]
              properties:
                name:
                  type: string
                status:
                  type: string
                  enum: [ACTIVE, DRAFT, ARCHIVED]
                definition:
                  $ref: '#/components/schemas/EngagementRuleDefinition'
      responses:
        '201':
          description: Rule created.
          content:
            application/json:
              schema:
                type: object
                required: [correlationId, data]
                properties:
                  correlationId:
                    type: string
                  data:
                    type: object
                    required: [rule]
                    properties:
                      rule:
                        $ref: '#/components/schemas/EngagementRule'
        '400':
          description: Validation error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid gateway Basic Auth.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not an admin.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /admin/rules/{id}:
    get:
      operationId: adminGetRule
      summary: Fetch a single engagement rule by ruleId
      x-internal-only: true
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            example: RULE%23a1b2c3d4
      responses:
        '200':
          description: Rule found.
          content:
            application/json:
              schema:
                type: object
                required: [correlationId, data]
                properties:
                  correlationId:
                    type: string
                  data:
                    type: object
                    required: [rule]
                    properties:
                      rule:
                        $ref: '#/components/schemas/EngagementRule'
        '400':
          description: Missing path parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid gateway Basic Auth.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not an admin.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Rule not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    put:
      operationId: adminUpdateRule
      summary: Update an existing engagement rule
      x-internal-only: true
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            example: RULE%23a1b2c3d4
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, status, definition]
              properties:
                name:
                  type: string
                status:
                  type: string
                  enum: [ACTIVE, DRAFT, ARCHIVED]
                definition:
                  $ref: '#/components/schemas/EngagementRuleDefinition'
      responses:
        '200':
          description: Rule updated.
          content:
            application/json:
              schema:
                type: object
                required: [correlationId, data]
                properties:
                  correlationId:
                    type: string
                  data:
                    type: object
                    required: [rule]
                    properties:
                      rule:
                        $ref: '#/components/schemas/EngagementRule'
        '400':
          description: Validation error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid gateway Basic Auth.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not an admin.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /admin/rules/ai-suggest:
    post:
      operationId: adminAiSuggestRule
      summary: Generate a draft engagement rule from a natural-language description
      description: >
        Calls the LiteLLM proxy to convert a plain-English description into
        a structured rule draft. The draft is validated against the same
        Zod schema the admin UI uses for the rule editor, but it is NOT
        persisted by this endpoint. The operator reviews the draft and
        then calls POST /admin/rules to save it.
      x-internal-only: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [description]
              properties:
                description:
                  type: string
                  maxLength: 1000
                  description: Natural-language description of the desired rule.
                  example: 'If a user stares at the points balance for over 8s, show a points-transfer nudge.'
      responses:
        '200':
          description: Rule draft generated.
          content:
            application/json:
              schema:
                type: object
                required: [correlationId, data]
                properties:
                  correlationId:
                    type: string
                  data:
                    $ref: '#/components/schemas/EngagementRuleDraft'
        '400':
          description: Missing or empty description.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid gateway Basic Auth.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not an admin.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: LiteLLM not configured or upstream call failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /admin/rules/test:
    post:
      operationId: adminTestRule
      summary: Count recent ENGAGEMENT decisions a rule would have matched
      description: >
        Evaluates a candidate rule definition against recent decisions in
        DecisionStore and returns the match count plus up to five sample
        rows. Lets an author validate a draft before flipping the rule
        from DRAFT to ACTIVE.
      x-internal-only: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [definition]
              properties:
                definition:
                  $ref: '#/components/schemas/EngagementRuleDefinition'
                windowSec:
                  type: integer
                  minimum: 1
                  default: 86400
                  description: Lookback window in seconds. Defaults to 24 hours.
      responses:
        '200':
          description: Match count returned.
          content:
            application/json:
              schema:
                type: object
                required: [correlationId, data]
                properties:
                  correlationId:
                    type: string
                  data:
                    type: object
                    required: [count, samples]
                    properties:
                      count:
                        type: integer
                        minimum: 0
                        description: Number of recent ENGAGEMENT rows the rule would have matched.
                      samples:
                        type: array
                        maxItems: 5
                        items:
                          type: object
                          required: [decisionId, signal, userId, timestamp]
                          properties:
                            decisionId:
                              type: string
                              nullable: true
                            signal:
                              type: string
                              nullable: true
                            userId:
                              type: string
                              nullable: true
                            timestamp:
                              type: integer
                              nullable: true
        '400':
          description: Validation error (missing definition or bad windowSec).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid gateway Basic Auth.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not an admin.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ----------------------------------------------------------------------------
  # Admin - Decisions (additional)
  # ----------------------------------------------------------------------------

  /admin/decisions/export:
    get:
      operationId: adminExportDecisions
      summary: Export decision records as JSON or CSV
      description: >
        Returns up to ADMIN_DECISIONS_EXPORT_MAX_ITEMS (default 10000) records
        in json (default) or csv format. Accepts the same window, type, and
        userId filters as GET /admin/decisions.

        When format=csv the response Content-Type is text/csv and the
        Content-Disposition header is set for file download.
      x-internal-only: true
      parameters:
        - $ref: '#/components/parameters/Window'
        - name: type
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/DecisionType'
        - name: userId
          in: query
          required: false
          schema:
            type: string
        - name: format
          in: query
          required: false
          description: Response format. Defaults to json.
          schema:
            type: string
            enum: [json, csv]
            default: json
      responses:
        '200':
          description: Decisions exported.
          content:
            application/json:
              schema:
                type: object
                required: [correlationId, data]
                properties:
                  correlationId:
                    type: string
                  data:
                    type: object
                    required: [decisions, count]
                    properties:
                      decisions:
                        type: array
                        items:
                          $ref: '#/components/schemas/Decision'
                      count:
                        type: integer
            text/csv:
              schema:
                type: string
        '400':
          description: Invalid window or type parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid gateway Basic Auth.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Basic Auth subject is not in ADMIN_USERNAMES.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Unexpected server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /admin/decisions/{id}:
    get:
      operationId: adminGetDecisionById
      summary: Fetch a single decision with audit trail and trace
      description: >
        Returns the full decision row, a synthetic audit trail (one step for
        L1-only decisions, two steps for L1+L2), and a trace object with the
[...]
